/* HEADER */
div.container-light header.header {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(112, 111, 111, 0.1);
  background-color: whitesmoke; }

div.container-dark header.header {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #1F1F1F;
  background-color: black; }
