/* STRATEGY SELECTOR */
div.container-light div.strategy-selector {
  max-width: 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px; }
  div.container-light div.strategy-selector button.strategy-selector-button {
    height: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    transition: all 0.3s ease; }
  div.container-light div.strategy-selector button.strategy-selector-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.3s ease; }

div.container-dark div.strategy-selector {
  max-width: 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px; }
  div.container-dark div.strategy-selector button.strategy-selector-button {
    height: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    transition: all 0.3s ease; }
  div.container-dark div.strategy-selector button.strategy-selector-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.3s ease; }
