/* FOOTER */
div.container-light {
  footer.footer {
    background-color: rgb(245, 245, 245);
  }
}
div.container-dark {
  footer.footer {
    background-color: black;
  }
}
footer.footer {
  padding: 32px;
}
