/* HOME */
div.container-light {
  div.home {
    background-color: rgb(245, 245, 245);
    main.main {
      display: flex;
      align-items: center;
      justify-content: center;
      p.paragraph {
        margin-top: 32px;
      }
    }
  }
}
div.container-dark {
  div.home {
    background-color: black;
    color: #D1D1D1;
  }
}
